# don't version backups
*.bak
*.swn
*.swo
*.swp
*.swm
*.kate-swp

*.directory
*~
# or binaries
*.elf
*.o
*.bin
*.mod
*.so
*.a # FIXME ld.a is also ignored :(
bin/boot/LM_Loader
bin/boot/kernel

# that's temporary stuff
src/kernel/Makefile
src/kernel/kernel.ld
bin/boot/grub/menu.lst
src/kernel/HAL/archdef.h
src/kernel/loader.ld
doc/lines_of_code.txt
src/usr/ld.a/libdld.a
src/usr/*.h

# or ISOs
*.iso
